.container h1, .container h3, .container h4 {
	text-align: center;
}

.add-pitch {
	position: absolute;
	top: 10px;
	right: 20px;
}

.create h4 {
	text-align: left;
}

.header {
	margin-top: 50px;
}

.results {
	margin-top: 20px;
}

