{% extends "index.html" %}

{% block content %}

  <thead>
    <tr>
      <th class="span3">Company Name</th>
      <th class="span2">Status</th>
      <th class="span2">Date</th>
      <th class="span2">Outcome</th>
    </tr>
  </thead>

  {% for stock in stocks %}
    <tr id="stock{{loop.index0}}" >
      <td class="name"> {{stock.name}} </td>
      <td class="status"> {{stock.status}} </td>
      <td class="date"> {{stock.date}} </td>
      <td class="result">         
        <a href="/vote/{{stock.id}}">View Result</a>
      </td>
    </tr>
  {% endfor %}

{% endblock %}