{% extends "index.html" %}

{% block content %}

  <thead>
    <tr>
      <th class="span2">Company Name</th>
      <th class="span2">Status</th>
      <th class="span2">Date</th>
      <th class="span2">View Result</th>
        <div>
      <th class="span2"></th>
    </tr>
  </thead>

  {% for stock in stocks %}
    <tr id="stock{{loop.index0}}" >
      <td class="name"> {{stock.name}} </td>
      <td class="status"> {{stock.status}} </td>
      <td class="date"> {{stock.date}} </td>
      <td class="result"> {{stock.result}} </td>
    </tr>
  {% endfor %}

{% endblock %}