{% extends "index.html" %}

{% block content %}

<div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1>About </h1> </li>


        </div>
      </div><!-- /.row -->
<br>
This is the pitch voting system for the CMC Student Investment Fund. It's pretty self-explanatory, you can vote by sending an SMS to (303) 816-3058 with an active vote code.
<br>
<br>
                © 2014 Claremont McKenna Student Investment Fund<br><br>

          Created by <a href="http://ev.ancasey.com">Evan Casey</a> '14.

    </div><!-- /#page-wrapper -->

{% endblock %}