<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIF Vote</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link href="/static/css/custom.css" rel="stylesheet" type"text/css"/> 
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="cmcsif.org">CMC Student Investment Fund</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/all"><i class="fa fa-bar-chart-o"></i> All Votes</a></li>
            <li><a href="/latest"><i class="fa fa-table"></i> Latest</a></li>
            <li><a href="/new"><i class="fa fa-edit"></i> Add Vote</a></li>
            <li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown-header"> About </li>
          </ul>
        </div>
      </nav>

      {% block content %}
      {% endblock %}

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/update.js"></script>

  </body>
</html>